footer {
    background-color: #000000;
    /* Black background */
    color: #ffffff;
    /* White text */
}

footer h4 {
    font-size: 1.8rem;
    /* Larger headings */
    font-weight: bold;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffc107;
    /* Highlight color */
    text-decoration: underline;
}

footer i {
    margin-right: 10px;
}

footer hr {
    border-color: rgba(255, 255, 255, 0.2);
    /* Light border for divider */
}

footer p,
footer ul {
    font-size: 1.1rem;
    /* Larger font size for better readability */

}